@import "tailwindcss";

@theme {
  /* Color Palette */
  --color-primary:   #F77F00; /* buttons, links, CTAs */
  --color-secondary: #FFB703; /* highlights/accents */
  --color-accent:    #FFAA00; /* extra emphasis */
  --color-background:#F9F9F9; /* page backgrounds */
  --color-card:      #FFFFFF; /* panels/cards */
  --color-text-primary: #333333; /* main text */

  /* Shadow Token */
  --shadow-soft: 0 2px 8px #bbb;
}
